body{
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to right, #000000, #ff6699
, #ff1a1a, #009933, #009999);
}
.roll-dice {
  display: none;
}
pre{
  color:white;
  font-weight: bolder;
  background-color: black;
  margin-top: 20px;
}

#header{background-image: url("../image/imagesample.gif");
border-radius: 5px;
						margin:20px;
						background-size:contain;
						background-repeat: no-repeat;
						color :white;
						text-align:center;
                    						}
